.header {
  flex: 0 0 50vh;
  height: 50vh;
  background: rebeccapurple;
  position: relative;
  overflow: hidden;

  &:after {
    // content: '';
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding-top: 20%;
    background: white;
    transform: skewY(-1deg);
    transform-origin: 0 0;
  }
}

.title {
  composes: title from "./common.module.scss";
  color: white;
  z-index: 99;
}

.featuredImageOverlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  // z-index: 5;

  &:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.85;
    background: black;
  }
}

.featuredImage {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;


}
